@charset "UTF-8";
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.body {
  margin: 0px;
}

.container {
  width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* font-family: "ArialRegular"; */
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold/ArialBold.woff") format("woff"), url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialItalic"; */
@font-face {
  font-family: "ArialItalic";
  src: url("../fonts/ArialItalic/ArialItalic.eot");
  src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialItalic/ArialItalic.woff") format("woff"), url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.eot");
  src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBlack/ArialBlack.woff") format("woff"), url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBoldItalic"; */
@font-face {
  font-family: "ArialBoldItalic";
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
  src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"), url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS"), url("../fonts/TrebuchetMS/trebuc.woff") format("woff");
}

@font-face {
  font-family: 'Trebuchet MS Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS Italic"), url("../fonts/Trebuchet/Trebuchet-MS-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Trebuchet MS Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS Bold"), url("../fonts/Trebuchet/Trebuchet-MS-Bold.woff") format("woff");
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #00BFF3;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-right: auto;
}

.header__logo-text {
  display: none;
  align-items: flex-end;
  width: 149px;
  height: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (min-width: 1080px) {
  .header__logo-text {
    display: flex;
  }
}

.header__tel {
  display: flex;
  align-items: center;
  padding-right: 26px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #FFFFFF;
}

.header__tel-text {
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px dotted;
  background-color: inherit;
}

.header__soc-icon {
  width: 32px;
  height: 32px;
  fill: #fff;
}

.header__social-network:not(:last-child) {
  margin-right: 10px;
}

.header ul {
  display: flex;
  padding-left: 47px;
}

.hero {
  padding-top: 24px;
  padding-bottom: 23px;
}

.hero__image {
  height: 553px;
}

.hero__widget {
  position: relative;
}

.tour {
  position: absolute;
  z-index: 2;
  top: 270px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url(../images/ellipse.png);
  background-size: 250px;
  height: 250px;
  background-repeat: no-repeat;
  text-align: center;
}

.tour__descr {
  width: 169px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Trebuchet MS;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.tour__text {
  margin-top: 0px;
  margin-bottom: 7px;
  font-family: Trebuchet MS;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.tour__code {
  display: inline-block;
  padding-left: 5px;
  padding-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Trebuchet MS;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
}

.vector {
  position: absolute;
  top: 488px;
  left: 618px;
  width: 422px;
  height: 65px;
  background-image: url(../images/vector.png);
}

.hotel-widget {
  position: relative;
  z-index: 1;
}

.hotel {
  display: flex;
  margin-top: 23px;
  margin-bottom: 32px;
}

.hotel__title {
  margin-right: 20px;
  font-family: Trebuchet MS;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.hotel__rating {
  width: 146px;
  height: auto;
  margin-right: 20px;
  background-image: url(../images/rating.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hotel__price {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Trebuchet MS;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
  text-align: center;
  color: #000000;
}

.hotel-descr {
  display: flex;
  align-items: center;
}

.hotel-descr__text {
  width: 90px;
  margin-right: 35px;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.hotel-descr__rating-score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  margin-right: 24px;
  font-family: Trebuchet MS;
  font-size: 24px;
  line-height: 28px;
  background-color: #00BFF3;
  color: #ffffff;
}

.hotel-table {
  font-family: Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

.hotel-table__col {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.hotel-table__first-row {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.hotel-table__col:not(:first-child) {
  padding-left: 16px;
}

.sundays {
  position: absolute;
  bottom: 120px;
  right: 88px;
  width: 160px;
}

.sundays__320 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Trebuchet MS;
  font-size: 88px;
  line-height: 102px;
  font-weight: bold;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #777777;
}

.sundays__text {
  width: 160px;
  position: absolute;
  left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Arial;
  font-size: 30px;
  line-height: 31px;
  color: #000000;
}

.extreme-sport ul {
  display: flex;
  justify-content: space-between;
}

.extreme-sport {
  padding-top: 22px;
  padding-bottom: 34px;
}

.extreme-sport__item-title {
  margin-top: 24px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

.extreme-sport__item-title:hover, .extreme-sport__item-title:focus {
  color: #CB0000;
}

.extreme-sport__item-text {
  margin-top: 11px;
  margin-bottom: 0px;
  font-family: Arial;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.extreme-sport__item-price {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  text-align: right;
  color: #000000;
}

.extreme-sport__item-price--old {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #777777;
  text-decoration: line-through;
  text-decoration-color: red;
}

.item-widget {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #777777;
}

.footer__text {
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.footer__link {
  color: #00BFF3;
  border-bottom: 1px dotted;
}

.footer__soc-icon {
  width: 32px;
  height: 32px;
  fill: #00BFF3;
}

.footer ul {
  display: flex;
}

.article {
  margin-top: 33px;
  margin-bottom: 44px;
}

.article__title-h1 {
  margin-bottom: 30px;
  font-family: Trebuchet MS;
  font-size: 50px;
  line-height: 52px;
  color: #000000;
}

.article__p {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 776px;
  font-family: Arial;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.article__p--margin-5 {
  margin-bottom: 5px;
}

.article__p--margin-0 {
  margin-bottom: 0px;
}

.article__title-h2 {
  margin-top: 30px;
  margin-bottom: 12px;
}

.article__quote {
  position: relative;
  left: 92px;
  width: 704px;
  margin-top: 36px;
  margin-bottom: 36px;
  font-style: italic;
  font-weight: normal;
}

.article__quote::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 120px;
  margin-left: -24px;
  margin-right: 16px;
  background-color: #00BFF3;
  transform: translateY(-13%);
}

.article__widget {
  position: relative;
}

.article__title-h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.article__ul {
  position: relative;
  left: 15px;
}

.article__ul:not(:last-child) {
  margin-bottom: 5px;
}

.article__ul::before {
  content: "—";
  position: relative;
  left: -5px;
}

.statistics {
  position: absolute;
  left: 813px;
  top: 151px;
}

.statistics__071 {
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: Trebuchet MS;
  font-size: 100px;
  line-height: 116px;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #777777;
}

.statistics__whr {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Arial;
  font-size: 30px;
  line-height: 31px;
  color: #000000;
}

.statistics__text {
  font-family: Arial;
  font-size: 20px;
  line-height: 25px;
  color: #777777;
}

.table {
  width: 776px;
  margin-top: 33px;
  margin-bottom: 33px;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
}

.table__head {
  display: flex;
  align-items: center;
  width: inherit;
  height: 36px;
  margin-bottom: 13px;
  background-color: rgba(119, 119, 119, 0.2);
  font-weight: bold;
  text-transform: none;
  text-align: left;
  color: #000000;
}

.table__body {
  display: inline-block;
  width: inherit;
}

.table__row {
  display: flex;
}

.table__row:not(:last-child) {
  margin-bottom: 14px;
}

.table__col1 {
  display: block;
  width: 116px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}

.table__column {
  width: 136px;
  text-transform: none;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2px;
  font-family: Trebuchet MS;
  font-style: normal;
}

.contact-form__title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.contact-form__button {
  padding: 10px 55px;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #00BFF3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
}

.input__title {
  display: block;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000000;
}

.contact-input {
  position: relative;
  width: 100%;
}

.contact-input__field {
  width: 100%;
  display: block;
  padding: 0px 40px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contact-input__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -100%);
  width: 15px;
  height: 12px;
  fill: #000000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  padding: 30px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.6);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  background-color: #00BFF3;
  outline-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */