.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #00BFF3;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        margin-right: auto;
    }

    &__logo-text {
        display: none;
        align-items: flex-end;
        width: 149px;
        height: 48px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;

        @media screen and (min-width: 1080px) {
            display: flex;
        }

    }

    &__tel {
        display: flex;
        align-items: center;
        padding-right: 26px;
        font-family: Arial, sans-serif;
        font-size: 30px;
        line-height: 34px;
        color: #FFFFFF;
    }

    &__tel-text {
        padding: 0px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px dotted;
        background-color: inherit;
    }

    &__soc-icon {
        width: 32px;
        height: 32px;
        fill: #fff;
    }

    &__social-network:not(:last-child) {
        margin-right: 10px;
    }
}

.header ul {
    display: flex;
    padding-left: 47px;
}